/******************************
 06. Navigation
******************************/

/******************************
 12. Contact
******************************/

/******************************
 13. 404 page
******************************/

.page-404 {
  background: url(../images/intro-bg.jpg);
  background-size: cover;
  width: 100%;
  height: 98vh;
  position: relative;
  margin-top: -30px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.page-404-content {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.page-404-content h1 {
  color: #fff;
  font-size: 200px;
  font-weight: 600;
}

.page-404-content p {
  color: #fff;
  font-size: 50px;
}

/******************************
 14. Media queries
******************************/

@media only screen and (max-width: 1200px) {
  .nav > li > a {
    padding: 15px 30px;
  }

  .single-project-info li {
    margin-bottom: 25px;
  }

  .page-404-content p {
    font-size: 40px;
  }
}

@media only screen and (max-width: 992px) {
  section header p {
    width: 100%;
  }

  .separator {
    height: 60vh;
  }

  .separator p {
    width: 100%;
  }

  .call-to-action {
    text-align: center;
    height: auto;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .pricing-table {
    margin-bottom: 30px;
  }

  .team header {
    margin-bottom: 0px !important;
  }

  .team img {
    margin-top: 70px;
  }

  .post-preview {
    margin-bottom: 50px;
  }

  ul.social-footer {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .separator p {
    font-size: 30px;
  }

  .page-404-content p {
    font-size: 30px;
  }

  /**** intro ****/
  .intro-1 h1 {
    font-size: 60px;
  }

  .intro-1 .big-h1 {
    font-size: 100px;
  }

  .intro-1 p {
    font-size: 20px;
  }

  .intro-1 p {
    padding: 0;
  }

  .intro-2 h1 span {
    font-size: 100px;
  }

  .intro-2 h1 {
    font-size: 60px;
  }

  .intro-2 p {
    width: 100%;
  }

  .single-project img {
    margin: 0 auto 30px auto;
  }

  section.team header {
    margin-bottom: 20px;
  }

  .team img {
    margin-top: 50px;
  }

  p.post-title {
    font-size: 55px;
  }

  .col-centered {
    display: block;
  }
}

@media only screen and (max-width: 560px) {
  .intro-1 h1 {
    font-size: 50px;
  }

  .intro-1 .big-h1 {
    font-size: 90px;
  }

  .intro-1 p {
    font-size: 20px;
  }

  .intro-2 h1 span {
    font-size: 80px;
  }

  .intro-2 h1 {
    font-size: 30px;
  }

  .intro-2 p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 510px) {
  .page-404-content p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .separator p {
    font-size: 20px;
  }

  .intro-1 .intro-content {
    padding-top: 10px;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    transform: none;
    -webkit-transform: none;
  }

  .intro-1 h1 {
    margin-top: 20px;
    padding-top: 20px;
  }

  h2 {
    font-size: 50px;
  }

  .parallax p {
    font-size: 30px;
  }

  .page-404-content h1 {
    font-size: 120px;
  }
}

@media only screen and (max-width: 380px) {
  .intro-1 p {
    font-size: 16px;
  }

  .intro-1 h1 {
    margin-top: 0;
  }
}
