<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SCRN</title>

    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/animsition/css/animsition.min.css" rel="stylesheet">
    <link href="/vendor/nivo-slider/nivo-slider.css" rel="stylesheet">
    <link href="/vendor/nivo-slider/themes/default/default.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/vendor/vanillabox/theme/bitter/vanillabox.css" rel="stylesheet">

    <!-- Main CSS -->
    <link href="/css/typography.css" rel="stylesheet">
    <link href="/css/buttons.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
<body>
<div class="animsition">


<section id="intro" class="parallax-window" data-parallax="scroll">
  <header>
    <img src="/images/logo.png" />
    <h1>Gossamer Interactive</h1>
  </header>

  <div class="banner">
    <div class="hero">
      <img src="/images/hero.png" />
    </div>
    <div class="info">
      <p class="title">Gossamer Interactive is a <br/> Digital Design Studio in Atlanta, GA</p>
      <p class="description">We create beautiful, intentional digital products based on <br/> research, design principles, and excellent user experience.</p>
      <a href="#contact" class="cta-button">Contact Us</a>
    </div>
  </div>
</section>



<div class="js_fixedcontent">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#intro">Home</a></li>
          <li><a href="#work">Work</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!-- end nav-collapse -->
    </div>
  </nav>
</div> <!-- end js_fixedcontent -->

<section id="services">
  <header>
    <h2>OUR EXPERTISE</h2>
  </header>
  <p class="content">
    We craft strategic, user-centered designs tailored to engage a broad audience. 
    Our services include Design, User Research and Testing, and Brand Identity development.
  </p>
  <div class="process">
    <div class="item">
      <img src="./images/research-and-ideate.svg" />
      <span>Research & Ideate</span>
    </div>
    <div class="item">
      <img src="./images/design-and-iterate.svg" />
      <span>Design & Iterate</span>
    </div>
    <div class="item">
      <img src="./images/test-and-learn.svg" />
      <span>Test & Learn</span>
    </div>
  </div>
</section>


<section id="work">
  <div class="container">

    <header>
      <h2>Work</h2>
      <p>I have traced the Rebel spies to her. Now she is my only link to finding their secret base. You don't believe in the Force, do you?</p>
    </header>


    <!-- begin slider -->
    <div class="slider-wrapper theme-default">
      <div id="slider" class="nivoSlider">
        <img src="/images/slide-1.jpg" alt="" />

        <img src="/images/slide-2.jpg" alt="" />

        <img src="/images/slide-3.jpg" alt="" title="This is an example of a caption" />
      </div> <!-- end slider -->
    </div> <!-- end slider-wrapper -->
    <!-- end slider -->


    <ul class="filter-list list-inline list-unstyled">
      <li class="filter" data-filter="all">all</li>
      <li class="filter" data-filter=".category-1">web</li>
      <li class="filter" data-filter=".category-2">print</li>
      <li class="filter" data-filter=".category-3">video</li>
    </ul>

    <div id="work-container" class="work-gallery">
      <div class="row">

        <div class="col-md-4 col-sm-6 mix category-1">
          <a href="/images/work-1.jpg" class="image">
            <img src="/images/work-thumb-1.jpg" class="work-thumb img-responsive" alt="" />
            <div class="overlay">
              <div class="overlay-content">
                <h3>Image</h3>
                <p>View Details</p>
              </div> <!-- /.overlay-content -->
            </div> <!-- /.overlay-->
          </a>
        </div> <!-- end col-md-4 -->

        <div class="col-md-4 col-sm-6 mix category-2">
          <a href="single-project.html">
            <img src="/images/work-thumb-2.jpg" class="work-thumb img-responsive" alt="" />
            <div class="overlay">
              <div class="overlay-content">
                <h3>Single Project</h3>
                <p>View Details</p>
              </div> <!-- /.overlay-content -->
            </div> <!-- /.overlay-->
          </a>
        </div> <!-- end col-md-4 -->

        <div class="col-md-4 col-sm-6 mix category-1">
          <a href="https://player.vimeo.com/video/61411580" class="vimeo">
            <img src="/images/work-thumb-3.jpg" class="work-thumb img-responsive" alt="" />
            <div class="overlay">
              <div class="overlay-content">
                <h3>Vimeo</h3>
                <p>View Details</p>
              </div> <!-- /.overlay-content -->
            </div> <!-- /.overlay-->
          </a>
        </div> <!-- end col-md-4 -->

        <div class="col-md-4 col-sm-6 mix category-3">
          <a href="https://www.youtube.com/embed/xTrhGCH9TOk" class="youtube">
            <img src="/images/work-thumb-4.jpg" class="work-thumb img-responsive" alt="" />
            <div class="overlay">
              <div class="overlay-content">
                <h3>Youtube</h3>
                <p>View Details</p>
              </div> <!-- /.overlay-content -->
            </div> <!-- /.overlay-->
          </a>
        </div> <!-- end col-md-4 -->

        <div class="col-md-4 col-sm-6 mix category-2">
          <a href="http://themes.wearekllr.com" class="website">
            <img src="/images/work-thumb-5.jpg" class="work-thumb img-responsive" alt="" />
            <div class="overlay">
              <div class="overlay-content">
                <h3>Website</h3>
                <p>View Details</p>
              </div> <!-- /.overlay-content -->
            </div> <!-- /.overlay-->
          </a>
        </div> <!-- end col-md-4 -->

        <div class="col-md-4 col-sm-6 mix category-3">
          <a href="/images/work-2.jpg" class="image">
            <img src="/images/work-thumb-6.jpg" class="work-thumb img-responsive" alt="" />
            <div class="overlay">
              <div class="overlay-content">
                <h3>Image</h3>
                <p>View Details</p>
              </div> <!-- /.overlay-content -->
            </div> <!-- /.overlay-->
          </a>
        </div> <!-- end col-md-4 -->

      </div> <!-- end row -->
    </div> <!-- end work-container -->

  </div> <!-- end container -->
</section> <!-- end work -->

<section id="contact">
  <div class="container">

    <header>
      <h2>Contact</h2>
      <p>I have traced the Rebel spies to her. Now she is my only link to finding their secret base. You don't believe in the Force, do you?</p>
    </header>

    <div class="row row-centered">

      <div class="col-md-8 col-sm-12 col-centered">

        <ul class="contact-info list-unstyled list-inline">
          <li>
            <div class="content">
              <i class="fa fa-home"></i>
              <p>767 Fifth Ave.<br />
New York, NY 10153</p>
            </div> <!-- /.content -->
          </li>

          <li>
            <div class="content">
              <i class="fa fa-phone"></i>
              <p>+123 456 789</p>
            </div> <!-- /.content -->
          </li>

          <li>
            <div class="content">
              <i class="fa fa-envelope-o"></i>
              <p>your@example.com</p>
            </div> <!-- /.content -->
          </li>
        </ul>


        <form role="form" id="contactForm" data-toggle="validator" class="shake">

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" required data-error="NEW ERROR MESSAGE">
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" required>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" class="form-control" rows="5" placeholder="Enter your message" required></textarea>
            <div class="help-block with-errors"></div>
          </div>

          <button type="submit" id="form-submit" class="btn btn-default btn-white">Submit</button>
          <div id="msgSubmit" class="h3 text-center hidden"></div>
          <div class="clearfix"></div>
        </form>

      </div> <!-- /.col-md-8 -->

    </div> <!-- /.row -->

  </div> <!-- /.container -->

</section> <!-- end section -->

<footer>
  <p>&copy; 2016 SCRN. All rights reserved</p>
</footer>



</div> <!-- /.animsition -->
<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/animsition/js/animsition.min.js"></script>
<script src="/vendor/parallax/parallax.min.js"></script>
<script src="/vendor/jquery.smoothscroll.min.js"></script>
<script src="/vendor/jquery.fixedcontent.min.js"></script>
<script src="/vendor/jquery.vide.min.js"></script>
<script src="/vendor/jquery.mixitup.min.js"></script>
<script src="/vendor/vanillabox/jquery.vanillabox-0.1.7.min.js"></script>
<script src="/vendor/match-height/jquery.matchHeight-min.js"></script>
<script src="/contact-form/js/validator.min.js"></script>
<script src="/contact-form/js/form-scripts.js"></script>
<script src="/js/scrn.js"></script>
<script src="/vendor/nivo-slider/jquery.nivo.slider.pack.js"></script>

<script>
  $(window).load(function() {
    $('#slider').nivoSlider();
  });
</script>

</body>
</html>
