<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gossamer Interactive</title>

    <link rel="icon" href="/images/logo.png" type="image/png" />
    <link href="/images/logo.png" rel="shortcut icon" />
    <link href="/images/logo.png" rel="apple-touch-icon" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="/vendor/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="/vendor/nivo-slider/nivo-slider.css" rel="stylesheet" />
    <link
      href="/vendor/nivo-slider/themes/default/default.css"
      rel="stylesheet"
    />
    <link href="/css/animate.css" rel="stylesheet" />
    <link
      href="/vendor/vanillabox/theme/bitter/vanillabox.css"
      rel="stylesheet"
    />

    <link href="/css/typography.css" rel="stylesheet" />
    <link href="/css/buttons.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/utilities.css" rel="stylesheet" />

    {% seo "" %}
  </head>
  <body>
    <div class="animsition">
      <section id="intro" class="parallax-window" data-parallax="scroll">
        <header>
          <div class="js_fixedcontent"></div>
          <div class="container-fullwidth">
            <nav class="navbar navbar-expand-lg">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar"
                  >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="#intro" class="navbar-left logo-container">
                    <img src="/images/logo.png" class="logo-image" />
                    <h1 class="brand-name">Gossamer Interactive</h1>
                  </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#intro">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </header>
      </section>

      <div class="intro-banner">
        <div class="info col-lg-6">
          <p class="title">
            A Digital Design Studio <br />
            located in Atlanta, GA.
          </p>

          <a href="#contact" class="cta-button contact-us-button">Contact Us</a>
        </div>
        <div class="hero col-lg-6">
          <img src="/images/hero.png" />
        </div>
      </div>
      <div class="container">
        <section id="services" class="block">
          <header>
            <h2>OUR EXPERTISE</h2>
          </header>
          <p class="content">
            We craft strategic, user-centered designs tailored to engage a broad
            audience. Our services include Design, User Research and Testing,
            and Brand Identity development.
          </p>
          <div class="process">
            <div class="process-item">
              <img src="./images/research-and-ideate2.svg" />
              <span>Research & Ideate</span>
            </div>
            <div class="process-item">
              <img src="./images/design-and-iterate2.svg" />
              <span>Design & Iterate</span>
            </div>
            <div class="process-item">
              <img src="./images/test-and-learn2.svg" />
              <span>Test & Learn</span>
            </div>
          </div>
        </section>

        <section id="work" class="block">
          <header>
            <h2>Recent Work</h2>
          </header>

          <p class="content">
            The work we create spans various industries, but always emphasizes
            accessibility, usability, and visual appeal. Additional work
            available upon request.
          </p>

          <div class="projects row">
            {% for project in projects %}
            <div class="col-md-6 col-sm-12 project-item">
              <a href="projects/{{ project.projectName | slug }}/">
                <img
                  src="{{ project.coverImage }}"
                  class="project-cover-image img-responsive"
                  alt="{{ project.projectName }}"
                />
                <div class="overlay">
                  <div class="overlay-content">
                    <h3>{{ project.projectName }}</h3>
                    <p>View Details</p>
                  </div>
                  <!-- /.overlay-content -->
                </div>
                <!-- /.overlay-->
              </a>
            </div>
            {% endfor %}
          </div>
        </section>
      </div>
      <section id="contact">
        <div class="container">
          <header>
            <h2>TRANSFORM YOUR PRODUCT</h2>
          </header>
          <p>Ready to get started? We would love to hear from you.</p>

          <div class="row row-centered">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-centered">
              <form
                role="form"
                id="contactForm"
                data-toggle="validator"
                class="shake"
                method="POST"
                action="https://formspree.io/f/xqkgyagg"
              >
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="Enter name"
                    required
                  />
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Enter email"
                    required
                  />
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea
                    name="message"
                    class="form-control"
                    rows="5"
                    placeholder="Enter your message"
                    required
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>

                <button type="submit" id="form-submit" class="sbmt-button">
                  Submit
                </button>
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="clearfix"></div>
              </form>
            </div>
            <!-- /.col-md-8 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
    </div>
    <!-- /.animsition -->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <script src="/vendor/parallax/parallax.min.js"></script>
    <script src="/vendor/jquery.smoothscroll.min.js"></script>
    <script src="/vendor/jquery.fixedcontent.min.js"></script>
    <script src="/vendor/jquery.vide.min.js"></script>
    <script src="/vendor/jquery.mixitup.min.js"></script>
    <script src="/vendor/vanillabox/jquery.vanillabox-0.1.7.min.js"></script>
    <script src="/vendor/match-height/jquery.matchHeight-min.js"></script>
    <script src="/js/validator.min.js"></script>
    <script src="/js/form-scripts.js"></script>
    <script src="/js/scrn.js"></script>
    <script src="/vendor/nivo-slider/jquery.nivo.slider.pack.js"></script>

    <script>
      $(window).load(function () {
        $("#slider").nivoSlider();
      });
    </script>
  </body>
</html>
